tqdm
git+https://github.com/openai/CLIP.git
torch-encoding
ipython
pytorch-lightning
opencv-python
imageio
ftfy
regex
altair
protobuf
timm
matplotlib
wandb
h5py
openai==0.8.0
grad-cam
ultralytics
open3d